html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
h2 {
  font-family: "Glacial Indifference";
  color: #2e2e2e;
  font-size: 70px;
  text-align: center;
}
h1 {
  font-family: "Poppins";
}

/* Header */
.header-wrapper {
  padding: 50px;
  /* background-repeat: no-repeat;
  background-image: url(./images/luka2.jpg);
  background-size: contain;
  background-position: center; */
}

.header-top {
  display: flex;
  justify-content: space-between;
}
.logo-text {
  font-family: "Poppins";
  text-align: left;
  line-height: 0.8;
}
.logo-text h1 {
  font-size: 40px;
}
.header-resume {
  font-size: 13px;
  color: #b3b3b3;
}
.image-count {
  position: relative;
}
.image-count-num {
  font-family: "Poppins";
  font-size: 160px;
  font-weight: bolder;
  color: white;
}
.image-count-about {
  position: absolute;
  bottom: 85px;
  left: -17px;
  width: 220px;
  text-align: left;
  font-family: "Poppins";
  font-size: 42px;
  font-weight: bolder;
  color: rgb(185, 185, 185);
}
.header-information {
  font-family: "Glacial Indifference";
  font-size: 70px;
  line-height: 60px;
  color: white;
  display: flex;
  justify-content: end;
  padding-right: 200px;
}

.header-information-span-top {
  font-size: 50px;
}
.header-information-span-bottom {
  font-size: 24px;
}
.header-information p {
  margin-bottom: 0;
}
.social-links {
  display: flex;
  justify-content: center;
}
.header-information-list,
.header-information-list img {
  list-style: none;
  display: flex;
  width: 30px;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.header-client {
  display: flex;
  justify-content: end;
  margin-right: 60px;
}
.header-client-position {
  font-family: "Montserrat";
  font-weight: bold;
}
.header-client-position span {
  color: #e93656;
}
.header-client-position hr {
  border: 3px solid #e93656;
  border-radius: 10px;
}

/* main */

/* section 1 */

.first-section-placement {
  display: flex;
  justify-content: center;
  padding: 100px;
  gap: 60px;
}
.first-section-information {
  max-width: 300px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
}
.first-section-information h3 {
  font-family: "Glacial Indifference";
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}
.first-section-information span {
  font-family: "Muli";
  font-size: 14px;
  color: #daae19;
}
.first-section-information p {
  font-family: "Muli";
  font-size: 15px;
}
#hire-button {
  font-family: "Glacial Indifference";
  border: none;
  padding: 13px 30px;
  font-size: 15px;
  background-color: #e93656;
  color: white;
  text-decoration: none;
}
#hire-button:hover {
  background-color: #d52041;
  cursor: pointer;
}
.first-section-image {
  background-image: url(./images/luka1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 500px;
  min-width: 400px;
}
.proffession-list {
  list-style-type: none;
  font-family: "Glacial Indifference";
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}
.proffession-list span {
  color: #e93656;
}
.grey-line {
  height: 5px;
  min-width: 200px;
  margin-top: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
}
.red-line {
  background-color: #e93656;
  height: 5px;
  width: 0;
  border-radius: 10px;
  transition: width 1s ease-in;
}

.first-section-about {
  display: flex;
  justify-content: center;
  background-color: #131a36;
  padding: 60px;
  gap: 20px;
  font-family: "Glacial Indifference";
}
.about {
  display: flex;
  gap: 10px;
}
.about-style {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.about-info {
  font-family: "Muli";
  font-size: 14px;
  color: #dfdfdf;
}
.dashed-small {
  position: relative;
  padding: 40px;
  border: 2px dashed white;
  border-radius: 50%;
}
.dashed-small:hover {
  background-color: #e93656;
}
.info-icon img {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}

/* section 2 */

.grid-template {
  display: grid;
  padding: 200px;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 10px;
}
.grid-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 50px;
  font-family: "Glacial Indifference";
  font-size: 22px;
  min-height: 250px;
  background-color: #fafafa;
  border: 1px solid #e3e3e3;
}
.hidden {
  display: none;
}
.grid-p-style {
  font-size: 12px;
  max-height: 100px;
}
.grid-block:hover {
  background-color: #15263e;
  justify-content: flex-start;
  color: white;
}
.grid-block:hover .hidden {
  display: block;
}

.personal-recomendation {
  background-image: url(./images/clip.jpg);
  background-size: cover;
  padding: 200px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.personal-recomendation-text {
  font-size: 15px;
  font-family: "Roboto";
  color: white;
  max-width: 400px;
}
.personal-img {
  display: block;
  max-width: inherit;
  border-radius: 50%;
}
.dashed-big {
  border: 3px dashed white;
  border-radius: 50%;
  padding: 10px;
  display: flex;
}
.slider {
  display: flex;
  align-items: center;
  gap: 40px;
}
#slider-text {
  display: flex;
  flex-direction: column;
  width: 150px;
}
.profession {
  font-family: "Roboto";
  font-size: 13px;
  color: #e93656;
}
.profession-name {
  font-family: "Glacial Indifference";
  font-size: 20px;
  /* margin: 0; */
  color: white;
}
.claws {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
}
.slider-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.slider-btn {
  width: 10px;
  height: 15px;
  background: none;
  cursor: pointer;
  border: 2px solid white;
}
.slider-btn:hover {
  border: 2px solid#E93656;
}
.slider-btn:focus {
  border: 2px solid#E93656;
}
/*  sectton  3 */

.third-section {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  padding: 100px 200px;
  gap: 10px;
}
#third-sect-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}
#thirdSectGrid {
  display: flex;
  justify-content: center;
}

.image {
  opacity: 0.9;
  display: block;
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease;
  backface-visibility: hidden;
  border-radius: 10px;
}
.container-hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: opacity 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.container-text:hover .image {
  opacity: 0.3;
}

.container-text:hover .container-hover {
  opacity: 1;
}
.container-hover img {
  border: 1px solid #e93656;
  border-radius: 50%;
  padding: 5px;
  width: 10px;
  height: 10px;
}
.container-hover-text {
  font-family: "Muli";
  font-size: 11px;
  color: #dddddd;
}
.container-hover-title {
  font-family: "Glacial Indifference";
  font-size: 23px;
  color: #ffffff;
}
.container-text:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.666));
}
.container-text {
  position: relative;
}
.container-hover p {
  display: none;
}
.container-text:hover .container-hover p {
  display: block;
}
.image.hide {
  display: none;
}
.aside-btn-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  padding: 0px;
}
.aside-btn-list button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.aside-btn-list button:hover {
  color: #e93656;
}
.third-sect-aside {
  background-color: #15263e;
  padding: 30px;
}

/* forth section */
.forth-section {
  padding: 50px 150px;
}
.article-container {
  display: flex;
  gap: 10px;
}
.article-container-reverse {
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
}
.article-text {
  max-width: 40%;
}
.article-image img {
  width: 100%;
}
.article-text span {
  font-size: 14px;
  color: #888888;
  font-family: "Muli";
}
.article-text h4 {
  font-size: 32px;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Glacial Indifference";
}
.article-text article {
  font-size: 16px;
  margin: 0;
  color: #494949;
  font-family: "Muli";
}

.split-line {
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 20px;
  font-family: "Glacial Indifference";
  writing-mode: vertical-lr;
  background-color: #131a36;
  color: #e93656;
}

/* fifth section */

.fifth-section-placement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 300px;
  min-height: 200px;
}
.partners {
  padding: 80px;
  background-color: #15263e;
  cursor: pointer;
}
.partners h4,
.partners p {
  width: 150px;
}
.fifth-sect-content h4 {
  margin: 0;
  font-family: "Poppins";
}
.fifth-sect-content p {
  margin: 0;
  font-family: "Roboto";
}
.partners:hover {
  text-align: center;
  background: none;
  border: 3px solid #e93656;
  transform: scale(1);
  padding: 5px;
  .hidden {
    display: block;
  }
}
/* form */
.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  gap: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./images/map.jpg);
}
.form-section h3 {
  font-family: "Jaapokki";
  font-size: 45px;
  color: white;
}
.form-section span {
  font-family: "roboto";
  color: white;
}
#formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
}
.input-group {
  display: flex;
  gap: 10px;
}
.textarea {
  min-width: 100%;
}
.input-group input,
.textarea textarea {
  font-family: "Poppins";
  padding: 10px;
  border: 0px;
  width: calc(100% - 20px);
}
#submit-btn {
  font-family: "Glacial Indifference";
  font-size: 12px;
  font-weight: 600;
  padding: 15px 50px;
  color: #e93656;
  background: none;
  border: 1px solid #e93656;
  cursor: pointer;
}
#submit-btn:hover {
  background: #1c1c1cc1;
}

/* footer */
.footer-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #282828;
  color: white;
}
.footer-top p {
  max-width: 500px;
  font-family: "roboto";
}
.social-links-footer {
  display: flex;
  gap: 10px;
  list-style-type: none;
}
.social-links-footer img {
  max-width: 30px;
}
.footer-bottom {
  padding: 20px;
  text-align: center;
  background-color: #171717;
  font-family: "muli";
  color: #a0a8b7;
}
.white {
  color: white;
}

/* media */
@media only screen and (max-width: 728) {
  .header-wrapper {
    max-width: 100%;
    padding: 10px;
  }
  .image-count-num {
    font-size: 80px;
  }
  .image-count-about {
    font-size: 21px;
    bottom: 40px;
  }
  .header-information {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    font-size: 35px;
    padding: 0;
  }

  .header-information-list,
  .header-information-list img {
    display: flex;
    justify-content: center;
  }
  .header-client {
    justify-content: center;
    margin: 0;
  }
  .image-count-about {
    width: 106px;
  }
  /* sect 1 */
  .first-section-placement {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
  .first-section-information {
    align-items: center;
    text-align: center;
  }
  .first-section-image {
    min-width: 100%;
  }
  .first-section-about {
    flex-direction: column;
    padding: 20px;
    gap: 10px;
  }
  .about-info {
    font-size: 7px;
  }
  .about {
    margin-left: 20%;
  }
  .dashed-small {
    padding: 10px;
    width: 20px;
    height: 20px;
  }
  .info-icon img {
    max-width: 20px;
  }
  /* sect 2*/
  .grid-template {
    padding: 10px;
    grid-template-columns: repeat(1, 1fr);
  }

  .personal-recomendation {
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .slider {
    gap: 0;
  }
  .dashed-big {
    padding: 10px;
  }

  /* sect 3*/

  .third-section {
    padding: 10px;
    align-items: center;
  }
  .third-sect-aside {
    padding: 20px;
    min-width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .third-sect-container {
    max-width: 100%;
  }
  .third-section {
    flex-direction: column;
  }
  .aside-btn-list {
    flex-direction: row;
  }

  /* sect 4 */

  .forth-section {
    padding: 10px;
  }
  .article-container-reverse {
    flex-direction: column;
    align-items: center;
  }
  .article-container {
    flex-direction: column;
    align-items: center;
  }
  .article-text {
    max-width: 100%;
  }
  .split-line {
    width: 90%;
    padding: 20px;
    writing-mode: horizontal-tb;
  }
  /* sect 5 */
  .fifth-section {
    min-height: 200px;
    display: flex;
    justify-content: center;
  }
  .fifth-section-placement {
    padding: 10px;
    min-height: 50px;
    gap: 10px;
  }
  .partners {
    padding: 20px;
  }
  /* form */

  .form-section {
    text-align: center;
    padding: 10px;
  }
  .input-group {
    flex-direction: column;
  }
}
